<!-- templates/includes/footer.html -->
<footer class="text-white text-center unitydorm-footer">
    <p class="my-1">&copy; {{ YEAR }} <a href="https://github.com/Friedjof/UnityDorm" target="_blank" class="text-white">UnityDorm</a> <span class="badge bg-warning" style="color: black">{{ VERSION }}</span></p>
    <p class="mb-0">Please report any issues <a href="https://github.com/Friedjof/UnityDorm/issues" class="text-white" target="_blank">here</a> or <a href="mailto:programming@noweck.info" class="text-white">contact me</a></p>
</footer>